// doc https://getbootstrap.com/docs/5.0/customize/
@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SFPro/regular.otf'), url('../fonts/SFPro/bold.otf'),
        url('../fonts/SFPro/medium.otf');
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: 'TTNormsPro-Medium', sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
}

main > .container {
    padding-top: 60px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 0;
    margin: auto;
}

// custom Nicolas Vitry

$custom-main: var(--bs-purple);
$custom-secondary: var(--bs-orange);
$custom-gray: #dcdfe4;

.text-main {
    color: $custom-main;
}

.text-second {
    color: $custom-secondary;
}

.border-second {
    border-bottom: 3px $custom-secondary solid;
}

.btn-purple {
    background: $custom-main;
    border-radius: 1rem;
    height: 56px;
    max-width: 328px;
}

.custom-input {
    border-radius: 12px;
    box-sizing: border-box;
    max-width: 327px;
    height: 56px;

    &:focus {
        border: 2px solid $custom-secondary;
        box-shadow: none;
    }
}

.video-ctn {
    width: 192px;
    height: 164px;
    background: $custom-gray;
    border-radius: 1rem;
}

.custom-card {
    height: 266px;
    width: 240px;
    border-radius: 0.5rem;
}
